* {
  box-sizing: border-box;
}

:root {
  --fg: #1a202c;
  --bg: #fafafa;
  --main: #edf2f7;
}

[data-theme='dark'] {
  --fg: #fafafa;
  --bg: #1a202c;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background: var(--bg);
  color: var(--fg);
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}

select {
  font-size: 18px;
}

a {
  color: var(--fg);
  text-decoration: none;
}
